<div class="example-container">
    <mat-card>
        <!-- Title of an Card -->
        <mat-card-title>
            Angular Material Component With Angular 5
        </mat-card-title>

        <mat-card-content>
            <form>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Enter your email"
                        [formControl]="email"
                        required
                    >
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Enter your password"
                        [formControl]="password"
                        required
                        type="password"
                    >
                    <mat-error *ngIf="email.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
                <button
                    mat-button
                    value="value"
                >
                    log in
                </button>
            </form>
        </mat-card-content>

    </mat-card>

</div>
